<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/b946223969.js" crossorigin="anonymous"></script>
         <!--Favicon Mio-->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
        <link rel="stylesheet" type="text/css"href="assets/css/style.css">
        <title> Dashboard 1 </title>
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark ">  <!--fixed-top-->
               <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                  <img src="assets/img/APLogo.png" alt="" width="10%" height="">
                  <img src="assets/img/LogosInti.png" alt="" width="15%" height="">
                  </a>
                  <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"><a href="https://github.com/"target="_blank"><i class="fa-brands fa-github fa-xl"></i></a></li>
                    <li class="list-group-item"><a href="https://linkedin.com"target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
                    <li class="list-group-item"><a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                    </i>
                    <li class="list-group-item"><a href="https://www.facebook.com/"target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
                     <!-- Button trigger modal -->
                     <!--Boton que abre Login-->
                     <li class="list-group-item">
                        <i class="fa-solid fa-right-from-bracket fa-xl" type="button"data-bs-toggle="modal"data-bs-target="#exampleModal" >
                        </i>
                     </li>
                  </ul>
              </nav>
    </header>

    <!--Botones Dashboard-->
    <main>
      <section id="panel" class="panel">
        <div class="container text-center">
            <div class="row mt-3 g-2 g-lg-3">
              <div class="col">
                <div><button type="button" class="btn btn-dark btn-large p-5" data-bs-target="#redesModal"data-bs-toggle="modal" ><i class="fa-solid fa-users fa-2xl"></i></button></div>
              </div>
              <div class="col">
                <div><button type="button" class="btn btn-dark btn-large p-5" data-bs-target="#perfilModal"data-bs-toggle="modal" ><i class="fa-solid fa-image fa-2xl"></i></button></div>
              </div>
              <div class="col">
                <div><button type="button" class="btn btn-dark btn-large p-5" data-bs-target="#bannerModal"data-bs-toggle="modal" ><i class="fa-solid fa-images fa-2xl"></i></button></div>
              </div>
            </div>
            <div class="row mt-3 g-2 g-lg-3">
                
                <div class="col">
                  <div><button type="button" class="btn btn-dark btn-large p-5" data-bs-target="#acercaDeMiModal"data-bs-toggle="modal" ><i class="fa-solid fa-comments fa-2xl"></i></button></div>
                </div>
                <div class="col">
                  <div><button type="button" class="btn btn-dark btn-large p-5" data-bs-target="#infoModal"data-bs-toggle="modal" ><i class="fa-solid fa-circle-info fa-2xl"></i></button></div>
                </div>
                <div class="col">
                  <div><button type="button" class="btn btn-dark btn-large p-5" data-bs-target="#footerModal"data-bs-toggle="modal" ><i class="fa-solid fa-bars fa-2xl"></i></button></div>
                </div>
              
              </div>
              <div class="row mt-3 g-2 g-lg-3">
                <div class="col">
                  <div><button type="button" class="btn btn-dark btn-large p-5" data-bs-target="#educacionModal"data-bs-toggle="modal" ><i class="fa-solid fa-user-graduate fa-2xl"></i></button></div>
                </div>
                <div class="col">
                  <div><button type="button" class="btn btn-dark btn-large p-5" data-bs-target="#skillsModal"data-bs-toggle="modal" ><i class="fa-solid fa-lightbulb fa-2xl"></i></button></div>
                </div>
                <div class="col">
                  <div><button type="button" class="btn btn-dark btn-large p-5" data-bs-target="#experienciaLaboralModal"data-bs-toggle="modal" ><i class="fa-solid fa-briefcase fa-2xl"></i></button></div>
                </div>
              </div>
             <div class="row mt-3 g-2 g-lg-3">
                <div class="col">
                  <div><button type="button" class="btn btn-dark btn-large p-5" data-bs-target="#trabajosModal"data-bs-toggle="modal" ><i class="fa-solid fa-image fa-2xl"></i></button></div>
                </div>
               
                <div class="col">
                  <div><button type="button" class="btn btn-dark btn-large p-5" data-bs-target="#misTrabajosModal"data-bs-toggle="modal" ><i class="fa-solid fa-circle-info fa-2xl"></i></button></div>
                </div>
              
              </div>
          </div>
      </section>
    </main>
    <!--Modales del Dashboard-->

    <!--Redes Modal-->
  <form >  
    <div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="redesModalLabel">Redes</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <label for="exampleDataList" class="form-label">Elegir Red</label>
      <br>
      <input type="text" list="datalistOptions" id="exampleDataList"
      formControlName="red" placeholder="Red" >
      <datalist id="datalistOptions">
        <option value="Instagram">
        <option value="GitHub">
        <option value="Linkedin">
        <option value="Facebook">
      </datalist>
      <br>
      <label for="exampleDataList" class="form-label">Icono</label>
      <br>
      <input type="text" formControlName="url" placeholder="Url">
      </div>
     <div class="modal-footer">
     <button type="submit" class="btn btn-primary">Guardar</button>
     <button type="submit" class="btn btn-primary">Borrar</button>
     </div>
     </div>
     </div>
   </div>
  </form>
    
      <!--Perfil Modal-->
    <div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title" id="perfilModalLabel">Perfil</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div class="mb-3 row">
        <label for="formFileSm" class="form-label">Foto perfil</label>
      <div class="col-sm-12">
        <input class="form-control form-control-sm" id="formFileSm" type="file">
      </div>
      </div>
      <div class="mb-3 row">
        <label for="formFileSm" class="form-label">Nombre y Apellido</label>

      <div class="col-sm-12">
        <input class="form-control form-control-sm" id="formFileSm" type="text">
      </div>
      </div>
      <div class="mb-3 row">
        <label for="formFileSm" class="form-label">Titulo</label>

      <div class="col-sm-12">
        <input class="form-control form-control-sm" id="formFileSm" type="text">
      </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-primary">Borrar</button>
      </div>
      </div>
      </div>
      </div>
    </div>

       <!--Banner MODAL-->
  <div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">Banner</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Fondo</label>
    <div class="col-sm-10">
      <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-primary">Borrar</button>
    </div>
    </div>
    </div>
  </div>

       

         <!--Acerca de Mi MODAL-->
    <div class="modal fade" id="acercaDeMiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Acerca de Mi</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <div class="mb-3 row">
          <label for="formFileSm" class="form-label">Nombre y Apellido</label>
        <div class="col-sm-12">
          <input class="form-control form-control-sm" id="formFileSm" type="text">
        </div>
        </div>
        <div class="mb-3 row">
          <label for="formFileSm" class="form-label">Profesion</label>
        <div class="col-sm-12">
          <input class="form-control form-control-sm" id="formFileSm" type="text">
        </div>
        </div>
        <div class="mb-3 row">
          <label for="formFileSm" class="form-label">Acerca de Mi</label>
        <div class="col-sm-12">
          <textarea name="mensaje" placeholder="Mensaje" id="" cols="30" rows="10"></textarea>
        </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-primary">Borrar</button>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>

         <!--Informacion Básica MODAL-->
      <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Informacion Personal</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <div class="mb-3 row">
            <label for="formFileSm" class="form-label">Edad</label>
          <div class="col-sm-12">
            <input class="form-control form-control-sm" id="formFileSm" type="text">
          </div>
          </div>
          <div class="mb-3 row">
            <label for="formFileSm" class="form-label">Email</label>
          <div class="col-sm-12">
            <input class="form-control form-control-sm" id="formFileSm" type="text">
          </div>
          </div>
          <div class="mb-3 row">
            <label for="formFileSm" class="form-label">Telefono</label>
          <div class="col-sm-12">
            <input class="form-control form-control-sm" id="formFileSm" type="text">
          </div>
          </div>
          <div class="mb-3 row">
            <label for="formFileSm" class="form-label">Ciudad y Pais</label>
          <div class="col-sm-12">
            <input class="form-control form-control-sm" id="formFileSm" type="text">
          </div>
          </div>
          <div class="mb-3 row">
            <label for="formFileSm" class="form-label">Idiomas</label>
          <div class="col-sm-12">
            <input class="form-control form-control-sm" id="formFileSm" type="text">
          </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-primary">Borrar</button>
          </div>
          </div>
          </div>
          </div>
          </div>
      </div>

        <!--Educacion MODAL-->
  <form >  
     <div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">Educación</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Institucion</label>
    <div class="col-sm-12">
      <input class="form-control form-control-sm" type="text"formControlName="institucion">
    </div>
    </div>
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Año</label>
    <div class="col-sm-12">
      <input  type="date"formControlName="anio" class="form-control form-control" id="educacionAño">
    </div>
    </div>
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Titulo</label>
    <div class="col-sm-12">
      <input class="form-control form-control-sm" id="educacionTitulo" type="text" type="text"formControlName="titulo">
    </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="submit" class="btn btn-primary">Borrar</button>
    </div>
    </div>
    </div>
    </div>
    </div>
  </form>
  


        <!--Kills MODAL-->
<form [formGroup]="form"  (ngSubmit)="onEnviar($event)">  
 <div class="modal fade" id="skillsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">Skills</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Habilidad</label>
    <div class="col-sm-12">
      <input class="form-control form-control-sm border-sucess"[class.border-danger]="HabilidadValid"  list="datalistOptionsHabilidades" 
      type="text"formControlName="habilidad">
    <datalist id="datalistOptionsHabilidades">
        <option value="Html">
        <option value="Css">
        <option value="Sass">
        <option value="Javascript">
        <option value="Flexbox">
        <option value="Bootstrap">
    </datalist>
  </div>
    <div *ngIf="Habilidad?.errors  && Habilidad?.touched">    
      <p *ngIf="Habilidad?.hasError('required')" class="error">
          Elija una Habilidad
      </p>
    </div>
    </div>
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Porcentaje</label>
    <div class="col-sm-12">
      <input class="form-control form-control-sm border-sucess"[class.border-danger]="PorcentajeValid" id="formFileSm" type="text"formControlName="porcentaje">
    </div>
    <div *ngIf="Porcentaje?.errors  && Porcentaje?.touched">    
      <p *ngIf="Porcentaje?.hasError('required')" class="error">
          Complete Porcentaje
      </p>
    </div>
    </div>
    <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" class="btn btn-primary">Borrar</button>
    </div>
   </div>
   </div>
  </div>
 </div>
</form>
    

          <!--Experiencia Laboral MODAL-->
       <!--Experiencia Laboral MODAL-->
 <form>  
  <div class="modal fade" id="experienciaLaboralModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">Experiencia Laboral</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3 row">
        <label for="formFileSm" class="form-label">Empresa</label>
      <div class="col-sm-12">
        <input class="form-control form-control-sm" id="experienciaEmpresa" type="text"formControlName="empresa"placeholder="Nombre Empresa">
      </div>
      </div>
      <div class="mb-3 ">
        <label for="experienciaPeriodoInicio" class="form-label">Periodo Inicio</label>
        <input  type="date"formControlName="inicio" class="form-control form-control" id="experienciaInicio">
      </div>
      <div class="mb-3 ">
        <label for="experienciaPeriodoFin" class="form-label">Periodo Fin</label>
        <input  type="date"formControlName="fin" class="form-control form-control" id="experienciaFin">
      </div>
      <div class="mb-3 row">
        <label for="formFileSm" class="form-label">Cargo</label>
      <div class="col-sm-12">
        <input class="form-control form-control-sm" id="experienciaCargo" type="text"formControlName="cargo" placeholder="Nombre Cargo">
      </div>
    </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="submit" class="btn btn-primary">Borrar</button>
    </div>
    </div>
    </div>
  </div>
</form> 

         

        <!--FooterMODAL-->
      <div class="modal fade" id="footerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Footer</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Año</label>
            <div class="col-sm-12">
            <input type="password" class="form-control" id="inputPassword">
            </div>
            </div>
        <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-12">
        <input type="password" class="form-control" id="inputPassword">
        </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" >Guardar</button>
          <button type="button" class="btn btn-primary" >Borrar</button>
        </div>
        </div>
        </div>
        </div>
        </div>
      </div>

      <!--Pagina de TrabajosRealizados MODAL-->
       <form >  
 <div class="modal fade" id="trabajosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Proyectos Realizados</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="formFileSm" class="form-label">Imagen</label>
          <div class="col-sm-12">
            <input class="form-control form-control-sm " id="formFileSm" type="file">
          </div>
         
          </div>
          <div class="mb-3 row">
            <label for="formFileSm" class="form-label">Nombre Marca</label>
          <div class="col-sm-12">
            <input class="form-control form-control-sm " id="formFileSm" type="text">
          </div>
          
          </div>
          <div class="mb-3 row">
            <label for="formFileSm" class="form-label">Descripcion</label>
          <div class="col-sm-12">
            <input class="form-control form-control-sm "id="formFileSm" type="text">
          </div>
        </div>
         <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Guardar</button>
               <button type="submit" class="btn btn-primary">Borrar</button>
              </div>
             </div>
            </div>
      </div>
    </div>
 </div> 
 </form>
        <!-- HASTA Aqui-->

      <!--SaludoPaginaTrabajos Modal-->
      <div class="modal fade" id="misTrabajosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Saludo Pagina Trabajos</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <div class="mb-3 row">
            <label for="formFileSm" class="form-label">Hola soy..</label>
          <div class="col-sm-12">
            <input class="form-control form-control-sm" id="formFileSm" type="text">
          </div>
          </div>
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" >Guardar</button>
            <button type="button" class="btn btn-primary" >Borrar</button>
          </div>
          </div>
          </div>
          </div>
          </div>
      </div>
    
      <!--MODAL LOGIN-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog">
        <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="mb-3 row">
              <div class="d-grid gap-2 col-6 mx-auto">
               <button class="btn btn-primary" type="button">Cerrar</button>
              </div>
            </div>
           </div>
         </div>
        </div>
    </div>

        
            
     <!--JavaScript Bundle with Popper-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>