
/* ----- ----- HEADER ----- ----- */
.navbar.navbar-expand-lg.bg-dark{
    background-color: #14837f  !important;
}
/*Items Redes Sociales*/
.list-group-item {
    color: #fff !important;
}
ul li a {
    
    color: #fff;
}
.fa-brands.fa-facebook.fa-xl:hover{
color:#1877f2;
}
.fa-brands.fa-instagram.fa-xl:hover{
    color:#e1306c;
}
.fa-brands.fa-linkedin.fa-xl:hover{
    color:#0077b5;
}
 .fa-brands.fa-github.fa-xl:hover{
    color:#6cc644;
}
.fa-solid.fa-user-lock.fa-xl:hover{
    color:#ffd8be
}

/*este es para el Dashboard*/
.fa-solid.fa-right-from-bracket.fa-xl:hover{
    color:#ffd8be
}

.list-group{
    --bs-list-group-bg: #transparent;
}
.list-group{
--bs-list-group-border-color: none; 
}
/*Boton de LoginFooter */
.btn-primary{
    --bs-btn-bg: #14837f ; 
    --bs-btn-active-bg: #49C199;
    --bs-btn-hover-bg: #49C199;
    --bs-btn-focus-shadow-rgb: #49C199;
    --bs-btn-border-color: #49C199;
    --bs-btn-hover-border-color:#49C199;

}
button.btn-login.btn-cerrar{
    --bs-btn-bg: #14837f ; 
    --bs-btn-active-bg: #49C199;
    --bs-btn-hover-bg: #49C199;
    --bs-btn-focus-shadow-rgb: #49C199;
    --bs-btn-border-color: #49C199;
    --bs-btn-hover-border-color:#49C199;

}
.modal{
   background-color: #14837f ; }

btn-dark {
    --bs-btn-bg:#14837f;
    --bs-btn-hover-border-color:#49C199;
    --bs-btn-active-bg:#49C199;
    --bs-btn-hover-bg:#14837f;
    --bs-btn-border-color:#14837f;
    --bs-btn-active-shadow:#49C199;
    --bs-btn-focus-shadow-rgb: #49C199;
}
input {
  width: 100%;
  }

.error{
    color:red
  }
.border-success{
  border-color:#14837f;
}
  
.border-danger{
    border-color: red;
  }
  .border-danger {
    --bs-border-opacity: 2;
    border-color: rgba(var(--bs-danger-rgb),var(--bs-border-opacity))!important;
}


.modal{
   background-color: #14837f ; }

btn-dark {
    --bs-btn-bg:#14837f;
    --bs-btn-hover-border-color:#49C199;
    --bs-btn-active-bg:#49C199;
    --bs-btn-hover-bg:#14837f;
    --bs-btn-border-color:#14837f;
    --bs-btn-active-shadow:#49C199;
    --bs-btn-focus-shadow-rgb: #49C199;
}
input {
  width: 100%;
  }

.error{
    color:red
  }
.border-success{
  border-color:#14837f;
}
  
.border-danger{
    border-color: red;
  }
  .border-danger {
    --bs-border-opacity: 2;
    border-color: rgba(var(--bs-danger-rgb),var(--bs-border-opacity))!important;
}


/* ----- ----- MAIN ----- ----- */

/*Cambiar rayitas por circulos en carrusel */
.carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
    outline: black;
    background-color: #fff;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid #fff;
     }
/*---------Mi Foto De Perfil--------*/
.container img{
    
        position: absolute;
        width:18%;
        border-radius:100%;
        left:5%;
        top:-110px;
    }
 /*---- ----Menu---- ---- */
 .menu {         
   list-style: none;
   padding: 0;
   width: 100%;
   max-width: 1000px;
   margin: 20px auto;
   text-align: right;
}
.menu li {
    display: inline-block;
    text-align: center;
}
.menu li a {
    color: #000500;
    text-decoration: none;
    display: inline-block;
    padding: 25px 20px;
}
.menu li a:hover {
    background: #14837f;
}

/*------Acerca De MI e Info Basica-------*/
section .acerca-de-mi {
   padding-top:550px;
   border-radius: 0.4rem;
    --bs-card-border-width: 2px;
   --bs-card-border-radius: 0.700rem;
   box-shadow: 0px 0px 15px rgba(0,0,0,.35);
}

.title{
    color:#000;;    
    font-weight: 700;   
    font-size: 1.714em;
    line-height: 1.45em;
    margin-top: 40px;
    margin-bottom: 15px;
}
section p {
    line-height:27px;
} 
.row{
    display: flex;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
}
/*Experiencia Laboral*/
.col-md-3 {
    background-color:#14837f!important;
    font-family:"Montserrat", "Helvetica Neue" ;
}
/*Estudios*/
aside .estudios{
    --bs-gutter-x:3.5rem;

}

  /*Skill*/
.container.container-fluid.container-lg.container-md{
    --bs-gutter-x:2.5rem;
}
.progress-container {
    margin-bottom: 20px;
    font-size: 18px;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.container{
   position: relative;
   background: #FFF;
}
.card-body {
    flex: 1 1 auto; 
  padding: 3.25rem; 
}
.card-body: hover{
     opacity: 0.3 ;
}
.progress-bar{
   background-color: #14837f !important;
 }
 /*grosor lineas de %*/
 .progress-container .progress-bar{
    height: 5px;
}
.progress{
 --bs-progress-bg:;
}
.card{
   --bs-card-border-width: 2px;
   --bs-card-border-radius: 0.700rem;
     box-shadow: 0px 0px 15px rgba(0,0,0,.35);
}
/*MisProyectos*/


.card2{
   --bs-card-border-width: 2px;
   --bs-card-border-radius: 0.700rem;
   box-shadow: 0px 0px 15px rgba(0,0,0,.35);
   padding: 1rem;
   
}

/*estilos Botones Porfolio*/
a.btn.btn-primary{
    --bs-btn-bg: #14837f !important;
    --bs-btn-hover-bg:#49C199;
    --bs-btn-hover-border-color:#49C199;
    --bs-btn-border-color: #14837f;
}

/*Pie de Pagina*/
footer{
        background-color:#14837f;
        text-align: center;
        padding: 25px 0;
        color: #fff;
        font-family: Helvetica, Arial,  sans-serif;
        top:10px;
    }
    /*  Section Dashboard*/
section.panel,section.dashboard{
        margin-top: 7rem;
    }
    /* Botones  Dashboard*/
.nav-pills {
    --bs-nav-pills-link-active-bg :#14837f;
}  
.nav-link {
    color:#000 !important;
  
}
.form-control {
    color:#14837f;
    border:1px solid #14837f;
}
button#v-pills-home-tab{

}
.btn-dark {
    --bs-btn-bg:#14837f;
    --bs-btn-hover-border-color:#49C199;
    --bs-btn-active-bg:#49C199;
    --bs-btn-hover-bg:#14837f;
    --bs-btn-border-color:#14837f;
    --bs-btn-active-shadow:#49C199;
    --bs-btn-focus-shadow-rgb: #49C199;
    --bs-btn-ac
}
.btn{
--bs-btn-color:#fff;

}
   

/*--- --- MEDIAQUERY--- ---*/
@media screen and  (max-width: 800px){
    .menu li a {
        font-size: 14px;
    }
/*--- --- MEDIAQUERY--- ---*/
@media screen and (max-width:800px){
    
   .container img{
       margin-top:5rem;
    }
    
}
@media screen and (max-width:500px){
    
   .container img{
       margin-top: 5rem;
    }
    
}
@media screen and (max-width:300px){
    
   .container img{
       margin-top: 5rem;
    }
    
}
@media screen and (max-width:800px){
    
 section.perfil h4{
     font-size: 16px;
    }
    
}

@media screen and (max-width:500px){
    
 section.perfil h4{
     font-size: 16px;
    }
    
}
@media screen and (max-width:800px){
    h3 {
        font size: 1rem;
    }
}
@media screen and (max-width:500px){
    h3 {
        font size: 0.5rem;
    }
}

    