/* ----- ----- HEADER ----- ----- */
.navbar.navbar-expand-lg.bg-dark{
    background-color: #14837f  !important;
}
/*Items Redes Sociales*/
.list-group-item {
    color: #fff;
}
.fa-brands.fa-facebook.fa-xl:hover{
color:#11369b;
}
.fa-brands.fa-instagram.fa-xl:hover{
    color:#e20bc6;
}
.fa-brands.fa-linkedin.fa-xl:hover{
    color:#269fc7;
}
 .fa-brands.fa-github.fa-xl:hover{
    color:#afbda9;
}
.fa-solid.fa-user-lock.fa-xl:hover{
    color:#ffd8be
}
/*este es para el Dashboard*/
.fa-solid.fa-user.fa-xl:hover{
    color:#ffd8be
}
.list-group{
    --bs-list-group-bg: #transparent;
}
.list-group{
--bs-list-group-border-color: none; 
}
/*Boton de LoginFooter */
.btn-primary{
    --bs-btn-bg: #14837f ; 
    --bs-btn-active-bg: #49C199;
    --bs-btn-hover-bg: #49C199;
    --bs-btn-focus-shadow-rgb: #49C199;
    --bs-btn-border-color: #49C199;
    --bs-btn-hover-border-color:#49C199;

}

body{
    background-color: #000; !important;
}
a {
    font-size: 1.0rem;
    text-decoration: none;
}
a:hover {
    background:#14837f;
    color:#fff;
}
a:link{
    text-decoration:none;
    color:#14837f;
}
a:visited {
    color:#ccc;
}


/*Galeria */
.galeria{
    width:100%;
   /* margin-left: 5%;*/
}
.galeria img{
    vertical-align: top;
    width: 25rem;
    margin: 1.25rem;
    padding:0.313rem;
    opacity: 0.5;
    border: 1px solid #484848;
}
.galeria img:hover {
    border: 1px solid #fff;
    opacity:1;

}

/*Pie de Pagina*/
footer{
    background-color:#14837f;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-family: Helvetica, Arial,  sans-serif;
    top:10px;
    margin-left:auto;
}

/*#C3D3C6  /#8BB4C7*/